#map-container {
  min-width: 18.75rem;
  max-width: 40rem;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-around;
  padding: 0 2.5rem;
}

.cell {
  flex: 1 0 auto;
  background-color: green;
  opacity: 0;
}

.cell:before {
  content: " ";
  float: left;
  position: relative;
  padding-top: 100%;
}

.percentile-group-0 {
  opacity: 0.2;
}

.percentile-group-1 {
  opacity: 0.4;
}

.percentile-group-2 {
  opacity: 0.6;
}

.percentile-group-3 {
  opacity: 0.8;
}

.percentile-group-4 {
  opacity: 1;
}
